$primary:       #35B8A5;
$secondary:     #F7B384;
$terciary:      #8B83BE;
$quaternary:    #BE83B1;
$success:       #65CF8F;
$info:          #65C9CF;
$warning:       #FCFF68;
$danger:        #D03B3B;


$variable-prefix:             of- !default;

$body-bg:                   #ECF1F0;
$body-color:               #4c635f;

$font-family-sans-serif:      'Baloo Tammudu 2', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;